@model WebApplication1.Models.Product

<table class="table">
    <tr>
        <th>
            ProductName
        </th>
        <th>
            SupplierID
        </th>
        <th>
            CategoryID
        </th>
        <th>
            QuantityPerUnit
        </th>
        <th>
            UnitPrice
        </th>
        <th>
            UnitsInStock
        </th>
        <th>
            UnitsOnOrder
        </th>
        <th>
            ReorderLevel
        </th>
        <th>
            Discontinued
        </th>
    </tr>
    <tr>
        <td>
            @Model.ProductName
        </td>
        <td>
            @Model.SupplierID
        </td>
        <td>
            @Model.CategoryID
        </td>
        <td>
            @Model.QuantityPerUnit
        </td>
        <td>
            @String.Format("{0:F}", Model.UnitPrice)
        </td>
        <td>
            @Model.UnitsInStock
        </td>
        <td>
            @Model.UnitsOnOrder
        </td>
        <td>
            @Model.ReorderLevel
        </td>
        <td>
            @Model.Discontinued
        </td>
    </tr>

</table>
